<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Minimarket El Rápidos</title>    
    
    <link rel="icon" href="/logo.png" type="image/png">
    
    <style>
        .menu-item {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-family: Arial, sans-serif;
            padding: 15px;
            display: inline-block;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #1A365D;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-family: Arial, sans-serif;
        }

        .dropdown-content a:hover {
            background-color: #112240;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .logo-icon {
            width: 35px; 
            height: 35px; 
            vertical-align: middle;
            margin-right: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body bgcolor="#ffffff" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

    <table width="100%" bgcolor="#212529" cellpadding="10" cellspacing="0" border="0">
        <tr>
            <td width="30%" align="left">
                <img src="/logo.png" alt="Logo" class="logo-icon">
                <font color="white" size="5" face="Arial">Minimarket El Rápidos</font>
            </td>
            
            <td align="center">
                <a href="/" class="menu-item"><b>Home</b></a>
            </td>
            
            <td align="center">
                <div class="dropdown">
                    <a href="#" class="menu-item"><b>CRUD ▾</b></a>
                    <div class="dropdown-content" align="left">
                        <a href="/productos">Productos</a>
                        <a href="/clientes">Clientes</a>
                        <a href="/empleados">Empleados</a>
                    </div>
                </div>
            </td>
            
            <td align="center">
                <div class="dropdown">
                    <a href="#" class="menu-item"><b>Pedidos ▾</b></a>
                    <div class="dropdown-content" align="left">
                        <a href="/pedidos/buscar">Buscar Pedido</a>
                        <a href="/pedidos/nuevo">Nuevo Pedido</a>
                    </div>
                </div>
            </td>
            
            <td align="center">
                <div class="dropdown">
                    <a href="/reportes" class="menu-item"><b>Reportes ▾</b></a>
                    <div class="dropdown-content" align="left">
                        <a href="/reportes/categorias">Categorías</a>
                        <a href="/reportes/catalogo">Catálogo x Categorías</a>
                        <a href="/reportes/pedidos">Reporte de Pedidos</a>
                    </div>
                </div>
            </td>
            
            <td align="center">
                <a href="/contacto" class="menu-item"><b>Contacto</b></a>
            </td>
        </tr>
    </table>

    <br><br>

    <table width="90%" align="center" border="0">
        <tr>
            <td>