<%- include('partials/header') %>

<center>
    <br><br>
    <h1><font color="#1A365D" face="Arial, sans-serif" size="6"><b>📞 Contáctanos</b></font></h1>
    <p><font size="4" color="#555555" face="Arial, sans-serif"><i>Estamos aquí para ayudarte. Visítanos o comunícate con nosotros.</i></font></p>
    <br><br>

    <table border="0" width="70%" cellpadding="20" bgcolor="#ffffff" style="box-shadow: 0px 4px 15px rgba(0,0,0,0.1); border-top: 5px solid #cc0000; font-family: Arial, sans-serif;">
        <tr>
            <td align="center" width="33%" valign="top">
                <font size="6">📍</font>
                <h3 style="color: #333333;">Nuestra Ubicación</h3>
                <p style="color: #555555; line-height: 1.6;">
                    <b>Minimarket El Rápidos</b><br>
                    Distrito del Rímac<br>
                    Lima Metropolitana, Perú
                </p>
            </td>
            
            <td align="center" width="33%" valign="top" style="border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee;">
                <font size="6">📱</font>
                <h3 style="color: #333333;">Atención al Cliente</h3>
                <p style="color: #555555; line-height: 1.6;">
                    <b>WhatsApp / Teléfono:</b><br>
                    +51 999 888 777<br><br>
                    <b>Horario:</b><br>
                    Lunes a Sábado: 8:00 AM - 10:00 PM
                </p>
            </td>

            <td align="center" width="33%" valign="top">
                <font size="6">✉️</font>
                <h3 style="color: #333333;">Correo Electrónico</h3>
                <p style="color: #555555; line-height: 1.6;">
                    <b>Ventas y Consultas:</b><br>
                    ventas@elrapidos.pe<br><br>
                    <b>Soporte:</b><br>
                    ayuda@elrapidos.pe
                </p>
            </td>
        </tr>
    </table>
</center>

<br><br><br><br>

<%- include('partials/footer') %>