<%- include('partials/header') %>

<center>
    <h1><font color="#1A365D">Registrar Nuevo Cliente</font></h1>
    <p>Ingrese los datos de la empresa y su contacto.</p>
    <br>

    <form action="/clientes/guardar" method="POST">
        <table border="1" cellpadding="10" cellspacing="0" width="50%" bgcolor="#ffffff">
            <tr bgcolor="#333333">
                <th colspan="2"><font color="white">Datos del Cliente</font></th>
            </tr>
            <tr>
                <td align="right"><b>Código de Cliente (5 letras):</b></td>
                <td><input type="text" name="idCliente" maxlength="5" required size="10" style="text-transform:uppercase;"></td>
            </tr>
            <tr>
                <td align="right"><b>Nombre de la Empresa:</b></td>
                <td><input type="text" name="empresa" required size="30"></td>
            </tr>
            <tr>
                <td align="right"><b>Nombre del Contacto:</b></td>
                <td><input type="text" name="contacto" required size="30"></td>
            </tr>    
            <tr>
                <td align="right"><b>Ciudad:</b></td>
                <td><input type="text" name="ciudad" required size="30"></td>
            </tr>
            <tr>
                <td align="right"><b>Teléfono:</b></td>
                <td><input type="text" name="telefono" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#f4f7f6">
                    <input type="submit" value="Guardar Cliente">
                    &nbsp;&nbsp;&nbsp;
                    <a href="/clientes"><font color="red">Cancelar</font></a>
                </td>
            </tr>
        </table>
    </form>
</center>

<br><br>

<%- include('partials/footer') %>